@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@plugin "daisyui";

@theme {
	--color-primary: #dc1436;
	--color-neutral: #8c8c8c;
	--color-darkk: #1b1b1b;

	--font-mont: 'Montserrat', 'sans-serif';
}

@plugin "daisyui" {
	themes: black --default, dark --prefersdark, cupcake;
}
/* hide-scrollbar class */
.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
